<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registro de Vagas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup] = 'formVaga' (submit)="adcvaga()">

    <div *ngIf="vagaID"> 
      <label position="floating" >ID</label>
     <input type="hidden" id="id" formControlName="id">
    </div>

    <ion-item> 
     <ion-label position="floating" >N# Ticket</ion-label>
     <ion-input type="text" name="numberticket" formControlName="numberticket"  placeholder="Digite o número do Ticket"></ion-input> 
    </ion-item>
    <ion-item> 
        <ion-label position="floating">N# Vaga</ion-label>
        <ion-input type="text" name="numbervaga" formControlName="numbervaga" placeholder="Digite o número da Vaga" min="2" maxlenght="100"></ion-input> 
       </ion-item>
    <ion-item>
       <ion-label position="floating">Placa</ion-label>
       <ion-input type="text" name="placa" formControlName="placa" placeholder="Digite a Placa" min="2" maxlenght="100"></ion-input> 
      </ion-item>
    <ion-item>
      <ion-label position="floating">Valor Pago:</ion-label>
        <ion-input type="text" name="valorpago" formControlName="valorpago" placeholder="Digite o valor Pago" min="2" maxlenght="100"></ion-input> 
       </ion-item>

    <ion-item>
      <ion-label>Hora de Entrada</ion-label>
  <ion-datetime name="entrada" formControlName="entrada" displayFormat="D MM YYYY H:mm" min="2019" max="2019" value="2019-06-17T11:06Z"></ion-datetime>
      </ion-item>
    <ion-item>
      <ion-label>Hora de Saída</ion-label>
      <ion-datetime name="saida" formControlName="saida" displayFormat="D MM YYYY H:mm" min="2019" max="2019" value="2019-06-17T11:06Z"></ion-datetime>
    </ion-item>  
    
    <ion-button type='submit' expand="block" color="success" [disabled]="formVaga.invalid">Registrar</ion-button>
    <ion-button color="success" expand="block" (click)="resetar()">Apagar</ion-button>
  </form>
</ion-content>
